body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.modal-backdrop {
  display: none;
}
.modal-content input:focus {
  outline: none;
  box-shadow: none;
  border-color: #5a5afc;
  background-color: #eef0ff;
}

.btn-link:hover {
  text-decoration: underline;
}




